/*
.center{
    display: grid;
    place-items: center;
    text-align: center;
}*/

* {
    background-color: whitesmoke ;
    color: darkblue;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main {
    display: flex;

}

[rancio="sii"] li {
    color: darkgoldenrod;
}