* {
    background-color: #001F3F ;
    color: #56A0D3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    justify-content: center;
}

.header__item {
    width: 175px;
    text-align: center;
    list-style: none;
    margin: 1% 5%;
    border: #FFFFFF solid 0.25vw;
    border-radius: 10px;
}

.header__item a {
    color: #FFD700;
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
}